* {
    box-sizing: border-box;
    object-fit: cover;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #FAFAFA;
}
.top {
    background-color: #EC362D;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #00000040;
    z-index: 4;
}
h1 {
    font-size: 40px;
    font-weight: 700;
    color: white;
}
.mainScreen { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 146px;
}
.yourQuizzes {
    display: flex;
    width: 1081px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 7.5px;
    margin-bottom: 77px;
}
.noQuizz {
    border: 1px solid #D4D4D4;
    width: 1051px;
    height: 181px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
p {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #B9B9B9;
    text-align: center;
}
button {
    border: 1px dashed #EC362D;
    color: #EC362D;
    border-radius: 50px;
    width: 151px;
    height: 40px;
    font-size: 20px;
    font-weight: 400;
    background-color: white;
}
button:hover {
    cursor: pointer;
}
.allQuizzes {
    display: flex;
    width: 1081px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 7.5px;
    margin-bottom: 77px;
}
h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
    width:1051px;
}
.quizz img {
    width: 340px;
    height: 181px;
    border-radius: 5px;
}
.quizz{
    position: relative;
    width: 340px;
    height: 181px;
    margin: 0 7.5px 12px 7.5px;
    cursor: pointer;
}
h3{
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    color: white;
    position: absolute;
    left: 18px;
    bottom: 7px;
    width: 301px;
    height: 54px;
    display: flex;
    align-items: center;
    z-index: 2;
}
.gradient {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
}
.title {
    width: 100%;
    height: 227px;
    margin-top: 69px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
h4 {
    color: #FFFFFF;
    font-size: 39px;
    font-weight: 400;
    text-align: center;
    z-index: 2;
}
.blackLay {
    background-color: #000000;
    opacity: 60%;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}
.title img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.mainContent {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question {
    width: 759px;
    height: 676px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #00000040;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
h5 {
    width: 688px;
    height: 138px;
    font-size: 23px;
    font-weight: 700;
    vertical-align: sub;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.allAnswers {
    width: 688px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.question img {
    width: 330px;
    height: 175px;
}
h6 {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    margin: 8px 0 18.5px 0;
}
.opacity {
    opacity: 30%;
}
h6.true {
    color: green;
}
h6.false {
    color: red;
}
.result {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #00000040;
    margin-top: 30px;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 759px;
    height: 430px;
}
.resultContent {
    display: flex;
    justify-content: space-between;
    width: 727px;
}
.result img {
    width: 364px;
    height: 273px;
}
.result p {
    width: 348px;
    height: 250px;
    text-align: left;
    font-size: 19px;
    font-weight: 700;
    color: black;
}
.result h5 {
    width: 727px;
    height: 99px;
}
.restart {
    align-self: center;
}
.answer:hover {
    cursor: pointer;
}
.restart {
    width: 261px;
    height: 52px;
    border-radius: 15px;
    background-color: #EC362D;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    color: #FFF5F4;
}
.toHome {
    width: 220px;
    height: 44px;
    border: none;
    background: none;
    font-size: 21px;
    font-weight: 400;
    color: #818181;
    margin: 30px 0 60px 0;
}
.toHome:hover {
    text-decoration: underline;
}
.auxScroll {
    border: none;
    background: none;
    height: 30px;
    width: 1px;
}
.creationPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.creationPage p {
    font-size: 23px;
    font-weight: 700;
    color: #000000;
    margin-top: 140px;
}
.createInputs {
    margin-top: 27px;
    width: 600px;
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px #0000000D;
    justify-content: space-between;
    padding: 21px 0 21px 0;
}
.createInputs input {
    width: 564px;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
}
input:focus {
    outline: none;
}
.createInputs input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-style: italic;
    font-weight: 400;
    padding-left: 10px;
}
.createQuizz {
    width: 370px;
    height: 54px;
    border-radius: 15px;
    background-color: #EC362D;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    color: #FFF5F4;
    margin-top: 85px;
}
.creationQuestionsPage, .finishCreationPage {
    margin-top: 132px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.creationQuestionsTitle {
    font-size: 23px;
    font-weight: 700;
    color: #000000;
}
.creationQuestions p, .creationLevels p{
    width: 564px;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: #000000;
    margin-top: 27px;
    margin-bottom: 12.5px;
}
.creationQuestions {
    position: relative;
    width: 600px;
    max-height: 825px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px #0000000D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
    padding-bottom: 20px;
}
.creationQuestions input {
    width: 564px;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
}
.incorrectAnswer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 106px;
    margin-bottom: 27.5px;
}
.correctAnswer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 106px;
}
.creationQuestions input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-style: italic;
    font-weight: 400;
    padding-left: 10px;
}
.creationQuestionsPage button {
    width: 355px;
    height: 54px;
    border-radius: 15px;
    background-color: #EC362D;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    color: #FFF5F4;
    margin-bottom: 55px;
}
ion-icon {
    position: absolute;
    width: 26px;
    height: 24px;
    top: 20px;
    right: 20px;
}
ion-icon:hover {
    cursor: pointer;
}
.titleQuestion {
    margin-bottom: 12.5px;
}
.hidden {
    display: none;
}
.inline {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.creationLevels {
    width: 600px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px #0000000D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
    padding-bottom: 30px;
    position: relative;
}
.creationLevelsPage {
    margin-top: 132px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.creationLevels input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-style: italic;
    font-weight: 400;
    padding-left: 10px;
}
.creationLevels input {
    width: 564px;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
}
.levelInputs {
    justify-content: space-between;
    height: 226px;
}
.creationLevelsPage button {
    width: 355px;
    height: 54px;
    border-radius: 15px;
    background-color: #EC362D;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    color: #FFF5F4;
    margin-top: 30px;
    margin-bottom: 55px;
}
.finishCreationPage img {
    width: 500px;
    height: 266px;
    margin-bottom: 45px;
}
.finishCreationPage p {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 46px;
}
.finishCreationPage .quizz {
    width: 500px;
    height: 266px;
    margin-bottom: 45px;
}
.finishCreationPage h3 {
   font-size: 23px;
   width: 100%;
}
.access {
    width: 280px;
    height: 44px;
    border-radius: 15px;
    background-color: #EC362D;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    color: #FFF5F4;
}
.backgroundRed {
    background-color: #EC362D;
}


    