* {
    box-sizing: border-box;
    object-fit: cover;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #FAFAFA;
    overflow-x: hidden;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    padding: 0 20px;
    margin-top: 69px;
}
.top {
    background-color: #EC362D;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #00000040;
    z-index: 4;
}
h1 {
    font-size: 40px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}
.mainScreen { 
    width: 1050px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    position: relative;
}
.yourQuizzes {
    position: relative;
    display: flex;
    width: 1065px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 77px;
    overflow-x: visible;
}
.yourQuizzes .quizz {
    margin-right: 7.5px;
    margin-left: 7.5px;
}
.noQuizz {
    border: 1px solid #D4D4D4;
    width: 1051px;
    height: 181px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
p {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #B9B9B9;
    text-align: center;
}
button {
    border: 1px dashed #EC362D;
    color: #EC362D;
    border-radius: 50px;
    width: 151px;
    height: 40px;
    font-size: 20px;
    font-weight: 400;
    background-color: white;
}
button:hover {
    cursor: pointer;
}
.allQuizzes {
    display: flex;
    width: 1050px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 77px;
}
h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
    width:100%;
    text-align: left;
}
.editAndDelete {
    position: absolute;
    right: 0;
    width: 43px;
    height: 87px;
    top: 10px;
    background-color: #EC362D;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
    border-radius: 10px 0 0 10px;
    cursor: default;
}
.edit {
    position: initial;
    width: 21px;
    height: 21px;
    color: #FFFFFF;
    margin-left: 3px;
}
.delete {
    position: initial;
    width: 23px;
    height: 26px;
    color: #FFFFFF;
}
.quizz img {
    width: 100%;
    height: 181px;
    border-radius: 5px;
}
.quizz{
    position: relative;
    width: 340px;
    height: 181px;
    margin-bottom: 12px;
    cursor: pointer;
}
h3{
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    color: white;
    position: absolute;
    left: 18px;
    bottom: 7px;
    width: 90%;
    height: 54px;
    display: flex;
    align-items: center;
    z-index: 2;
}
.gradient {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
}
.title {
    width: 100vw;
    height: 227px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
h4 {
    color: #FFFFFF;
    font-size: 39px;
    font-weight: 400;
    text-align: center;
    z-index: 2;
}
.blackLay {
    background-color: #000000;
    opacity: 60%;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}
.title img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.mainContent, .quizzContent {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question {
    padding-top: 28px;
    padding-bottom: 18px;
    width: 759px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #00000040;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
h5 {
    width: 688px;
    height: 138px;
    font-size: 23px;
    font-weight: 700;
    vertical-align: sub;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 8px 0 8px;
}
.allAnswers {
    margin-top: 20px;
    width: 688px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.question img {
    width: 330px;
    height: 175px;
}
h6 {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    margin: 8px 0 18.5px 0;
}
.opacity {
    opacity: 30%;
}
h6.true {
    color: green;
}
h6.false {
    color: red;
}
.result {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #00000040;
    margin-top: 30px;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 759px;
    height: 430px;
}
.resultContent {
    display: flex;
    justify-content: space-between;
    width: 727px;
}
.resultContent p{
    text-overflow: ellipsis;
}
.result img {
    width: 364px;
    height: 273px;
}
.result p {
    width: 348px;
    height: 250px;
    text-align: left;
    font-size: 19px;
    font-weight: 700;
    color: black;
}
.result h5 {
    width: 727px;
    height: 99px;
    text-overflow: ellipsis;
}
.restart {
    align-self: center;
}
.answer:hover {
    cursor: pointer;
}
.restart {
    width: 261px;
    height: 52px;
    border-radius: 15px;
    background-color: #EC362D;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    color: #FFF5F4;
}
.toHome {
    width: 220px;
    height: 44px;
    border: none;
    background: none;
    font-size: 21px;
    font-weight: 400;
    color: #818181;
    margin: 30px 0 60px 0;
}
.toHome:hover {
    text-decoration: underline;
}
.auxScroll {
    border: none;
    background: none;
    height: 30px;
    width: 1px;
}
.creationPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.creationPage p {
    font-size: 23px;
    font-weight: 700;
    color: #000000;
    margin-top: 71px;
}
.creationPage button {
    margin-top: 0;
    margin-bottom: 71px;
}
.loader {
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
[alt="spinner gif"] {
    width:150px;
    height: 150px;
}
.loader p {
    font-size: 25px;
    font-weight: 400;
    color: #EC362D;
}
.createInputs {
    margin-top: 27px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 0px #0000000D;
    justify-content: space-between;
    padding: 21px 0 21px 0;
}
.createInputs input {
    width: 564px;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    margin-bottom: 15px;
}
input:focus {
    outline: none;
}
.createInputs input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-style: italic;
    font-weight: 400;
    padding-left: 10px;
}
.createQuizz {
    width: 370px;
    height: 54px;
    border-radius: 15px;
    background-color: #EC362D;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    color: #FFF5F4;
    margin-top: 85px;
}
.creationQuestionsPage, .finishCreationPage {
    margin-top: 63px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.creationQuestionsTitle {
    font-size: 23px;
    font-weight: 700;
    color: #000000;
}
.creationQuestions p, .creationLevels p{
    width: 564px;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: #000000;
    margin-top: 27px;
    margin-bottom: 12.5px;
}
.creationQuestions {
    position: relative;
    width: 600px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px #0000000D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
    padding-bottom: 20px;
}
.creationQuestions input {
    width: 564px;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    margin-bottom: 15px;
}
.incorrectAnswer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 27.5px;
}
.correctAnswer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.creationQuestions input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-style: italic;
    font-weight: 400;
    padding-left: 10px;
}
.creationQuestionsPage button {
    width: 355px;
    height: 54px;
    border-radius: 15px;
    background-color: #EC362D;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    color: #FFF5F4;
    margin-bottom: 55px;
}
ion-icon {
    position: absolute;
    width: 26px;
    height: 24px;
    top: 20px;
    right: 20px;
}
ion-icon:hover {
    cursor: pointer;
}
.hidden {
    display: none;
}
.inline {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.creationLevels {
    width: 600px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px #0000000D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
    padding-bottom: 30px;
    position: relative;
}
.creationLevelsPage {
    margin-top: 63px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.creationLevels input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-style: italic;
    font-weight: 400;
    padding-left: 10px;
}
.creationLevels input {
    width: 564px;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    margin-bottom: 15px;
}
.levelInputs {
    justify-content: space-between;
}
.creationLevelsPage button {
    width: 355px;
    height: 54px;
    border-radius: 15px;
    background-color: #EC362D;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    color: #FFF5F4;
    margin-top: 30px;
    margin-bottom: 75px;
}
.finishCreationPage img {
    width: 500px;
    height: 266px;
    margin-bottom: 45px;
}
.finishCreationPage p {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 46px;
}
.finishCreationPage .quizz {
    width: 500px;
    height: 266px;
    margin-bottom: 45px;
}
.finishCreationPage h3 {
   font-size: 23px;
   width: 100%;
}
.access {
    width: 280px;
    height: 44px;
    border-radius: 15px;
    background-color: #EC362D;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    color: #FFF5F4;
}
.backgroundRed {
    background-color: #EC362D;
}
.buttonCreate {
    width: 31px;
    height: 30px;
    position: absolute;
    color: #EC362D;
    top: -37px;
    left: 128px;
}
.inputInvalid {
    background-color: #ffb5b9;
}
.inline .invalidText, .creationPage .invalidText { 
    font-size: 16px;
    font-weight: 400;
    color: #EC362D;
    margin: 0 0 20px 0;
    width: 564px;
}
.creationPage .invalidText {
    text-align: left;
}
@media (min-width: 751px) and (max-width: 1100px) {
    .allQuizzes, h2 {
        width: 695px;
    }
    .yourQuizzes {
        width: 710px;
    }
    .question {
        width: 100%;
    }
    .mainContent {
        max-width: 100%;
    }
    .question .img {
        max-width: 100%;
    }
    h4 {
        max-width: 100%;
    }
    .creationPage p {
        font-size: 20px;
    }
    .createQuizz {
        margin-top: 30px;
   }
   .creationPage .invalidText {
        max-width: 100%;
        margin: 0;
    }
}
@media (max-width: 750px) {
    * {
        overflow-x: hidden;
    }

    .main {
        width: 100vw;
    }
    .mainScreen {
        width: 100%;
        margin-top: 38px;
        align-items: center;
    }
    h2 {
        margin-left: 7.5px;
    }
    h1 {
        font-size: 37px;
        overflow-y: hidden;
    }
    .yourQuizzes, .allQuizzes {
        flex-direction: column;
        max-width: 100%;
        margin-left: 0;
        margin-bottom: 38px;
        justify-content: center;
    }
    .quizz {
        margin: 0 0 14px 0;
        overflow-y: hidden;
        width: 100%;
    }
    .yourQuizzes .quizz {
        margin: 0 0 14px 0;
    }
    .noQuizz {
        width: 100%;
    }
    .title {
        width: 100vw;
        height: 142px;
    }
    h4 {
        font-size: 19px;
    }
    .question {
        width: 100vw;
    }
    h5 {
        width: 90.9%;
        height: 89px;
        font-size: 19px;
    }
    .question img {
        width: 100%;
        height: 113px;
    }
    .allAnswers {
        width: 90.9%;
    }
    .buttonCreate {
        top: -35px;
        right: 30px;
    }
    .mainContent {
        width: 100%;
    }
    .answer {
        width: 48%;
        max-width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h6 {
        width: 100%;
        font-size: 14.5px;
        overflow-y: hidden;
        text-align: left;
        margin-left: 0;
    }
    
    .result h5 {
        margin-top: 30px;
        height: 99px;
        
    }
    .resultContent {
        flex-direction: column;
    }
    .resultContent img {
        width: 100%;
        max-width: 100%;
        margin: 9px 0;
    }
    .quizzContent, .creationQuestionsPage, .creationLevelsPage {
        width: 109%;
    }
    .resultContent p {
        width: 100%;
        max-width: 100%;
    }
    .creationPage p {
        font-size: 20px;
    }
    .creationPage, .creationLevels, .createInputs, .createInputs input, .correctAnswer, .incorrectAnswer, .finishCreationPage,
    .creationQuestions input, .inline p, .creationQuestions, .inline, button, .creationLevels input, .result {
        max-width: 100%;
    }
    .creationLevels, .creationQuestions {
        width: 100%;
    }
    
   .createQuizz {
        margin-top: 30px;
        max-width: 100%;
   }
   .creationQuestionsTitle, .creationQuestions p {
        font-size: 20px;
        max-width: 100%;
   }
   .creationLevels p, .levelInputs, .result h5, .resultContent,
   .creationQuestions p, .creationQuestions .inline {
        max-width: 90.9%;
   }
   .inline {
        align-items: center;
   }
   .creationLevels ion-icon, .creationQuestions ion-icon {
        right: 4.5vw;
   }
   .inline p {
        width: 100%;
        max-width: 100%;
   }
    .resultContent p{
            text-overflow: ellipsis;
    }
   .finishCreationPage .quizz {
        max-width: 90.9%;
   }
   .inline .invalidText, .creationPage .invalidText{
        font-size: 13.5px;
   }
   p, h1, h2, h3, h4, h5, h6 {
        overflow-y: hidden;
   }
   .creationPage .invalidText {
        max-width: 100%;
        margin: 0;
    }
}

    